* {
	border: none;
	border-radius: 7px;
	font-family: "JetBrainsMonoNerdFontMono";
	font-size: 14px;
	min-height: 20px;
}

/*
* Variant: Rosé Pine Dawn
* Maintainer: DankChoir
*/

@define-color base            #f8f0e7;
@define-color surface         #fffaf3;
@define-color overlay         #f2e9e1;

@define-color muted           #9893a5;
@define-color subtle          #797593;
@define-color text            #575279;

@define-color love            #b4637a;
@define-color gold            #ea9d34;
@define-color rose            #d7827e;
@define-color pine            #286983;
@define-color foam            #56949f;
@define-color iris            #907aa9;

@define-color highlightLow    #f4ede8;
@define-color highlightMed    #dfdad9;
@define-color highlightHigh   #cecacd;

window#waybar {
	background: @base;
	background-color: transparent;
	color: @surface;
}

#user {
	padding: 0 10px;
	background-color: @base;
	color: @subtle;
	box-shadow: inset -3px -5px 2px @foam;
}
#tags {
	padding: 0 0px;
	background-color: @base;
	color: @text;
	font-weight: bold;
	box-shadow: inset 3px -5px 2px @foam;
}
#tags button.occupied {
	padding: 0 5px;
	background-color: @base;
	color: @text;
	font-weight: bold;
	box-shadow: inset 3px -5px 2px @gold;
}
#tags button.focused {
	padding: 0 5px;
	background-color: @base;
	color: @text;
	font-weight: bold;
	box-shadow: inset 3px -5px 2px @iris;
}
#mode {
	padding: 0 10px;
	color: @subtle;
}
#workspaces {
	padding: 0 5px;
	font-weight: bold;
	background-color: @base;
	color: @gold;
	box-shadow: inset 0px -5px 2px @rose;
}
#workspaces.active {
	padding: 0 5px;
	font-weight: bold;
	background-color: @base;
	color: @gold;
	box-shadow: inset 3px -5px 2px @gold;
}
#workspaces.urgent {
	padding: 0 5px;
	font-weight: bold;
	background-color: @base;
	color: @gold;
	box-shadow: inset 3px -5px 2px @iris;
}
#window {
	padding: 0 5px;
	font-weight: bold;
	background-color: @base;
	color: @gold;
}
#window.focussed {
	padding: 0 5px;
	font-weight: bold;
	background-color: @base;
	color: @gold;
	box-shadow: inset 0 -5px 2px @iris;
}
#network {
	padding: 0 10px;
	color: @subtle;
}
#disk {
	padding: 0 5px;
	background-color: @base;
	color: @text;
	box-shadow: inset 0px -5px 2px @gold;
}
#temperature {
	padding: 0 5px;
	background-color: @base;
	color: @text;
	box-shadow: inset 0px -5px 2px @love;
}
#memory {
	padding: 0 5px;
	background-color: @base;
	color: @text;
	box-shadow: inset 0px -5px 2px @pine;
}
#cpu {
	padding: 0 5px;
	background-color: @base;
	color: @text;
	box-shadow: inset 0px -5px 2px @iris;
}
#battery {
	padding: 0 5px;
	background-color: @base;
	color: @text;
	box-shadow: inset 0px -5px 2px @foam;
}
#clock {
	padding: 0 5px;
	background-color: @base;
	color: @text;
	font-weight: bold;
	box-shadow: inset 0px -5px 2px @rose;
}
